<!--
Unicorn.Configs.IgnitionRoot.config
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="<%= projectname %>" description="This includes the items to support the <%= appname %> <%= componentname %>  project">
					<targetDataStore physicalRootPath="~/../<%= appname %>/<%= projectname %>/Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="<%= appname %> <%= componentname %> Renderings" database="master" path="/sitecore/layout/Renderings/<%= appname %>/<%= layername %>/<%= componentname %>" />
						<include name="<%= appname %> <%= componentname %> Templates" database="master" path="/sitecore/templates/Sites/<%= appname %>/<%= layername %>/<%= componentname %>" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
