<!--
Unicorn.Configs.IgnitionRoot.config
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="<%= projectName %>" description="This includes the items to support the <%= appName %> <%= componentName %>  project">
					<targetDataStore physicalRootPath="~/../<%= appName %>/<%= projectName %>/Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="<%= appName %> <%= componentName %> Renderings" database="master" path="/sitecore/layout/Renderings/<%= appName %>/<%= layerName %>/<%= componentName %>" />
						<include name="<%= appName %> <%= componentName %> Templates" database="master" path="/sitecore/templates/Sites/<%= appName %>/<%= layerName %>/<%= componentName %>" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
